apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "webapp.fullname" . }}
  labels:
    {{- include "webapp.labels" . | nindent 4 }}
data:
  index.html: |
{{ index .Values.configMap.data "index.html" | indent 4 }}
